KEY=
APP_ENV=
PORT=
DB_URL=
DB_USER=
DB_PASS=
DB_NS=
DB_DB=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_URL=
HOST=
JWT_SECRET=
JWT_EXPIRATION_TIME=
COINAPI_KEY=
COINAPI_URL=
EXCHANGERATEAPI=
CONTRACT_ADDRESS=
AVAX_RPC=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BB_REGION=
BB_ENDPOINT=
BB_BUCKET=